* {
  border: 1px solid #ccc; }

body {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  margin: 0;
  position: relative;
  overflow-x: hidden; }

aside,
nav {
  position: fixed;
  height: 100%;
  width: 97%;
  top: 0;
  transition: all 0.6s ease-out; }

aside {
  left: 0;
  z-index: 3;
  background: #64b9d2; }
  aside.hidden {
    transform: translateX(-99%); }

nav {
  right: 0;
  z-index: 4;
  background: #95dc84; }
  nav.hidden {
    transform: translateX(99%); }

main {
  height: 100%;
  width: 100%; }
  main.active {
    z-index: 5; }
  main.inactive {
    z-index: 2; }
  main img {
    height: auto;
    max-width: 100%; }

.flex-container {
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start; }
  .flex-container .flex-item {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1; }

.layer.one {
  background: #dc6c5f; }

.layer.two {
  background: #95dc84; }

.layer.three {
  background: #64b9d2; }

.is-top {
  z-index: 52; }

@media screen and (max-width: 768px) {
  img {
    width: 100%; } }
