.fixnav {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  transition: all 1s ease; }

.navpadding {
  width: 100%;
  height: 110px; }

#tags {
  margin: 0;
  height: 63px;
  overflow: scroll; }
  #tags .tag {
    margin: 2px; }
