@import 'bourbon/bourbon';
// @import 'neat/neat';


// theme variables ////////////////////////////////////////////////

// base ///////////////////////////////////////////////////////////
// ## Base example
// - html, body, form { margin: 0; padding: 0; }
// - input[type=text] { border: 1px solid #999; }
// - a { color: #039; }
// - a:hover { color: #03C; }
// * {
//   border: 1px solid #ccc; // for construction and debugging purposes
// }

body {
  font-family: $helvetica;
  margin: 0;
  position: relative;
  overflow-x: hidden;
}

aside,
nav {
  position: fixed;
  height: 100%;
  width: 99%;
  top: 0;
  transition: all 0.4s ease;
}

nav { // the main menu that comes in from the right
  right: 0;
  z-index: 4;
  background: #95dc84;
  box-shadow: -1px 0px 6px 0px rgba(0,0,0,0.2);
  &.hidden{
    transform: translateX(99%);
  }
  &.background{
    width: 100%;
    background: #1f9b23;
    left: 99%;
    z-index: 1;
    &.hidden{
      transform: translateX(-100%);

    }
  }
}

main {
  transition: all 0.4s ease;
  @include size(100%);
  position: absolute;
  z-index: 2;
  &.active {
    z-index: 5;
  }

  img {
    height: auto;
    max-width: 100%;
  }
}
// layout /////////////////////////////////////////////////////////
// ## Layout example
// #header, #article, #footer {
//     width: 960px;
//     margin: auto;
// }
// #article {
//     border: solid #CCC;
//     border-width: 1px 0 0;
// }
.flex-parent {
  @include align-items(center);
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);
  .flex-child {
    @include flex(1);
  }
}



// module /////////////////////////////////////////////////////////
// ## Module example
// .module > h2 {
//     padding: 5px;
// }
// .module span {
//     padding: 5px;
// }
.thumbnail {

}

// state //////////////////////////////////////////////////////////
// ## State example
// .is-tab-active {
//     background-color: white;
//     color: black;
// }
.is-top {
  z-index: 52;
}

// media //////////////////////////////////////////////////////////
@media screen and (max-width: 768px) {

}

@media screen and (min-width: 769px) {

}

@media screen and (min-width: 980px) {

}
