@import 'bourbon/bourbon';
// @import 'neat/neat';


// theme variables ////////////////////////////////////////////////

// base ///////////////////////////////////////////////////////////
// ## Base example
// - html, body, form { margin: 0; padding: 0; }
// - input[type=text] { border: 1px solid #999; }
// - a { color: #039; }
// - a:hover { color: #03C; }
* {
  border: 1px solid #ccc;
}

body {
  font-family: $helvetica;
  margin: 0;
  position: relative;
  overflow-x: hidden;
}

aside,
nav {
  position: fixed;
  height: 100%;
  width: 97%;
  top: 0;
  transition: all 0.6s ease-out;
}

aside {
  left: 0;
  z-index: 3;
  background: #64b9d2;
  &.hidden{
    transform: translateX(-99%);
  }
}

nav {
  right: 0;
  z-index: 4;
  background: #95dc84;
  &.hidden{
    transform: translateX(99%);
  }
}

main {
  @include size(100%);
  &.active {
    z-index: 5;
  }
  &.inactive {
    z-index: 2;
  }

  img {
    height: auto;
    max-width: 100%;
  }
}
// layout /////////////////////////////////////////////////////////
// ## Layout example
// #header, #article, #footer {
//     width: 960px;
//     margin: auto;
// }
// #article {
//     border: solid #CCC;
//     border-width: 1px 0 0;
// }
.flex-container {
  @include align-items(stretch);
  @include display(flex);
  @include flex-direction(row);
  @include justify-content(flex-start);
  .flex-item {
    @include flex(1);
  }
}



// module /////////////////////////////////////////////////////////
// ## Module example
// .module > h2 {
//     padding: 5px;
// }
// .module span {
//     padding: 5px;
// }
.layer {
  &.one{
    background: #dc6c5f;
  }
  &.two{
    background: #95dc84;
  }
  &.three{
    background: #64b9d2;
  }
}

// state //////////////////////////////////////////////////////////
// ## State example
// .is-tab-active {
//     background-color: white;
//     color: black;
// }
.is-top {
  z-index: 52;
}

// media //////////////////////////////////////////////////////////
@media screen and (max-width: 768px) {
  img {
    width: 100%;
  }
}
