@import 'bourbon/bourbon';
@import 'neat/neat';

// ## Base example
// - html, body, form { margin: 0; padding: 0; }
// - input[type=text] { border: 1px solid #999; }
// - a { color: #039; }
// - a:hover { color: #03C; }
//
// ## Layout example
// - html, body, form { margin: 0; padding: 0; }
// - input[type=text] { border: 1px solid #999; }
// - a { color: #039; }
// - a:hover { color: #03C; }
//
// ## Module example
// .module > h2 {
//     padding: 5px;
// }
// .module span {
//     padding: 5px;
// }
//
// ## State example
// .is-tab-active {
//     background-color: white;
//     color: black;
// }


// theme variables

// base

// layout
.container {
  position: relative;
}

// module
.container>div {
  position: absolute;
}
.container .layer1 {
  z-index: 1;
  background-color: red;
  @include size(150px);
}
.container .layer2 {
  z-index: 2;
  background-color: green;
  @include size(100px);
}
.container .layer3 {
  z-index: 3;
  background-color: blue;
  @include size(50px);
}

// state



body {
  margin: 0;
  @include outer-container;
  font-family: $helvetica;
}

article {
  background-color: cyan;
}

.emptyHolder {
  @include size(100%);
  background-color: yellow;
  position: fixed;
  top: 0px;
  display: none;
}

.images {
  // @include clearfix; //NOTE probably not be necessary until desktop version
}

.images > img {
  height: auto;
  width: 100%;
}

aside {
  color: blue;
  background-color: pink;
  height: 100%;
  position: fixed;
  right: 0px;
  top: 0px;
  @include span-columns(4);
  transition: all 2s ease-out;
}
