////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
// VARS ////////////////////////////////////////////////////////


$tablet: 769px;
$desktop: 980px;
$widescreen: 1180px;

$white: #fff;
$black: #000;
$grey-darker:	#222324;
$grey-dark:	#69707a;
$grey:	#aeb1b5;
$grey-light:	#d3d6db;
$grey-lighter:	#f5f7fa;
$blue:	#42afe3;
$green:	#97cd76;
$orange:	#f68b39;
$purple:	#847bb9;
$red:	#ed6c63;
$turquoise:	#1fc8db;
$yellow:	#fce473;
$primary:	$turquoise;

$borderRadius: 3px;


////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
// BASE ////////////////////////////////////////////////////////


body {
  position: relative;
}


////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
// LAYOUT //////////////////////////////////////////////////////


.fixnav {
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 1s ease;
}

.navpadding {
  width: 100%;
  height: 1px; // auto set by photon
}

.photonLayer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}


////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
// MODULES /////////////////////////////////////////////////////


#tags {
  height: 73px;
  margin: 0;
  overflow: scroll;
  .tag {
    margin: 2px;
  }
}

#nestContainer {
  .nestBox {
    background-color:#69707a;
    border-radius:3px;
    transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
    transition-property: left, right, top;
    &.size21,
    &.size22,
    &.size23,
    &.twocols {
      background: #aeb1b5;
    }
    &.size31,
    &.size32,
    &.size33,
    &.threecols {
      background: #d3d6db;
    }
    img {
      height: 100%;
      width: auto;
      transition: all 200ms ease;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}

.login {
  height: 30vh;
  width: 40vw;
  background: $white;
}

.pLogo {
  border: $borderRadius solid $primary;
  border-radius: 10%;
  align-items: center;
  display: flex;
  height: 121px;
  width: 121px;
  svg {
    margin: 0 auto;
    overflow: hidden;
  }
  #wave {
    animation: moveTheWave 4s linear infinite;
    fill: none;
    stroke-dasharray: 0 16 101 16;
    stroke-width: 3;
    stroke: $black;
    stroke-linecap: round;
  }
  @keyframes moveTheWave {
    0% {
      stroke-dashoffset: 0;
      transform: translate3d(0, 0, 0);
    }
    100% {
      stroke-dashoffset: -133;
      transform: translate3d(-90px, 0, 0);
    }
  }
}


////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
// STATE ///////////////////////////////////////////////////////


.layer-neg-3 {
  z-index: -3;
}
.layer-neg-2 {
  z-index: -2;
}
.layer-neg-1 {
  z-index: -1;
}
.layer-background,
.layer-0 {
  z-index: 0;
  cursor: default;
}
.layer-1 {
  z-index: 1;
}
.layer-2 {
  z-index: 2;
}
.layer-3 {
  z-index: 3;
}
.is-transparent {
  opacity: 0.5;
}
