$tablet: 769px;
$desktop: 980px;
$widescreen: 1180px;

.fixnav {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  transition: all 1s ease;
}

.navpadding {
  width: 100%;
  height: 132px;
}

#tags {
  margin: 0;
  height: 63px;
  overflow: scroll;
  .tag {
    margin: 2px;
  }
}

.flex-vater {
  .flex-kind {
  }
}

#nestContainer {
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  .nestBox {
    background-color:#69707a;
    border-radius:3px;
    transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
    transition-property: left, right, top;
    &.size21,
    &.size22,
    &.size23,
    &.twocols {
      background: #aeb1b5;
    }
    &.size31,
    &.size32,
    &.size33,
    &.threecols {
      background: #d3d6db;
    }
    img {
      height: 100%;
      width: auto;
      transition: all 200ms ease;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}
