////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
// VARS ////////////////////////////////////////////////////////


$tablet: 769px;
$desktop: 980px;
$widescreen: 1180px;

$white: #fff;
$black: #000;
$grey-darker:	#222324;
$grey-dark:	#69707a;
$grey:	#aeb1b5;
$grey-light:	#d3d6db;
$grey-lighter:	#f5f7fa;
$blue:	#42afe3;
$green:	#97cd76;
$orange:	#f68b39;
$purple:	#847bb9;
$red:	#ed6c63;
$turquoise:	#1fc8db;
$yellow:	#fce473;
$primary:	$turquoise;

$borderRadius: 3px;
$boxShadow: 0px 10px 30px 0px rgba(50, 50, 50, 0.4);
$defaultTransition: all 600ms ease;


////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
// BASE ////////////////////////////////////////////////////////


.tag {
  margin: 2px;
}


////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
// LAYOUT //////////////////////////////////////////////////////


body {
  // position: relative;
}

main {
  position: relative;
  overflow-x: hidden;
  transition: $defaultTransition;
  &.is-inactive {
    transform: translateX(300px);
  }
}

menu.pMenu {
  background: $grey-dark url('/textures/10.png');
  position: fixed;
  z-index: 5;
  width: 300px;
  height: 100%;
  top: 0px;
  left: -300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: $defaultTransition;
  box-shadow: inset -10px 0px 20px 0px rgba(50, 50, 50, 0.4);
  padding: 20px;
  &.is-active{
    transform: translateX(300px);
  }
}

.pMenuToggle {
  display: none;
  z-index: 4;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  &.is-active{
    display: block;
  }
}

.photonLayer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}


////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
// MODULES /////////////////////////////////////////////////////


.fixnav {
  position: fixed;
  top: 0;
  width: 100%;
  .hero-content {
    padding: 20px;
  }
}

.navpadding {
  width: 100%;
  // height: 1px; // auto set by photon
}

#nestContainer {
  .nestBox {
    // background:url() no-repeat center center; // set by JS
    // background-size: auto 100%; // width height; set by JS
    overflow: hidden;
    background-color: $grey; // TODO: add a img broken logo perhaps? Ideally taken care of by JS
    border-radius:3px;
    transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
    transition-property: left, right, top;
      &:hover {
        opacity: 0.9;
      }
  }
  .size21,
  .size22,
  .size23 {
    background: $grey-dark;
  }
  .size31,
  .size32,
  .size33 {
    background: $grey-light;
  }
}

#loginBox {
  .modal-background {
    opacity: 0.4;
  }
  &.box {
    position: fixed;
    height: 180px;
    width: 600px;
    box-shadow: $boxShadow;
  }
}

.notification {
  z-index: 1;
  text-align: center;
}

.pLogo {
  border: $borderRadius solid $primary;
  border-radius: 10%;
  align-items: center;
  display: flex;
  height: 121px;
  width: 121px;
  svg {
    margin: 0 auto;
    overflow: hidden;
  }
  #wave {
    animation: moveTheWave 50s linear infinite;
    fill: none;
    stroke-dasharray: 0 16 101 16;
    stroke-width: 3;
    stroke: $black;
    stroke-linecap: round;
  }
  @keyframes moveTheWave {
    0% {
      stroke-dashoffset: 0;
      transform: translate3d(0, 0, 0);
    }
    100% {
      stroke-dashoffset: -133;
      transform: translate3d(-90px, 0, 0);
    }
  }
}

#popupBox {
  .modal-content {
    width: 95vw;
    .image-custom {
      display: flex;
      justify-content: center;
      img {
        max-height: 85vh;
      }
    }
  }
}

.photonRec {
  opacity: 0.5;
  box-shadow: inset 0px 10px 30px 0px rgba(50, 50, 50, 0.4) !important;
  .overlay {
    position: relative;
    background: rgba(31, 200, 219, 0.3);
    height: 100%;
    width: 100%;
    .button {
      position: absolute;
      top: 5px;
      left: 5px;
    }
  }
}

.photonLiked {
  .overlay {
    position: relative;
    height: 100%;
    width: 100%;
    .button {
      opacity: 0.3;
      position: absolute;
      top: 5px;
      right: 5px;
      &:hover {
        opacity: 1;
      }
    }
  }
}


////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
// STATE ///////////////////////////////////////////////////////


.layer-neg-3 {
  z-index: -3;
}
.layer-neg-2 {
  z-index: -2;
}
.layer-neg-1 {
  z-index: -1;
}
.layer-background,
.layer-0 {
  z-index: 0;
  cursor: default;
}
.layer-1 {
  z-index: 1;
}
.layer-2 {
  z-index: 2;
}
.layer-3 {
  z-index: 3;
}
.is-transparent {
  opacity: 0.3;
}
.has-shadow {
  box-shadow: $boxShadow;
}

@keyframes spinaround {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.is-loading {
  // pointer-events: none;
  &:after{
    animation: spinaround 500ms linear infinite;
    border: 2px solid $orange;
    border-radius: 290486px;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: 26px;
    width: 26px;
    left: 50%;
    top: 50%;
    margin-left: -13px;
    margin-top: -13px;
    position: absolute;
  }
}

.is-temp-img {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
  visibility: hidden;
}
